<div class="container genreCon">
    <div class="genre-modal" id="genre-modal" data-menu>
        <ul class="menu-genre">
            <li class="button-genre">
                <button type="button" class="genreBtn">All genres</button>
            </li>
            
        </ul>
    </div>

    <section class="films" data-films-content>
        

    <!-- Разметка для 'Today/This week' Toggle -->
    <div class="switch-button">
        <input class="switch-button-checkbox" id="switch-button" type="checkbox">
        <label class="switch-button-label" for="switch-button"><span class="switch-button-label-span">Today</span></label>
    </div>


        <h1 class="visually-hidden">Movies</h1>
        <ul class="film__grid">
           
        </ul>
    </section>
</div>

<!-- Разметка для 'Today/This week' Toggle -->
<div class="switch-button">
    <input class="switch-button-checkbox" type="checkbox">
    <label class="switch-button-label" for=""><span class="switch-button-label-span">Today</span></label>
</div>