<div class="footer">
    <div class="container">
        <div class="footer__block">
            <ul class="footer-item">
                <li class="item-li">
                    <!-- <p class="text">&copy 2021 | All Rights Reserved | Developed with.</p> -->
                <span class="text">&copy 2021 | All Rights Reserved | Developed with.</span>
                </li>
                <li>
                    <svg class="footer__image-heart">
                        <use href="./images/sprite.svg#icon-heart" class="heart"></use>
                    </svg>
                </li>
                <a href="#popup" class="popup-link style-link">by GoIT Students</a>
                </li>
            </ul>          
        </div>    
    </div>
</div>  

<!-- <div id='preloader'>
    <img src="./images/Spinner-1s-200px.gif" alt="preloader">
</div> -->