<div class="dropdown" id="pagegradient">
    <button  class="dropbtn button">Gener</button>
      <div id="myDropdown" class="dropdown-content is-hidden">
        <input type="text" placeholder="Search.." id="myInput" >
        <a href="#drama">Drama</a>
        <a href="#comedy">Comedy</a>
        <a href="#musical">Musical</a>
        <a href="#romance">Romance</a>
        <a href="#romantic-comedy">Romantic comedy</a>
        <a href="#comedy">Comedy</a>
        <a href="#detective">Detective</a>
        <a href="#action">Action</a>
        <a href="#thriller">Thriller</a>
        <a href="#horror">Horror</a>
        <a href="#animated-film">Animated film</a>
        <a href="#cartoon">Cartoon</a>
        <a href="#disaster-film">Disaster film</a>
        <a href="#science-fiction">Science fiction</a>
        <a href="#fantasy">Fantasy</a>
        <a href="#documentary">Documentary</a>
        <a href="#western">Western</a>
        <a href="#historical">Historical</a>
      </div>
</div>



