<header class="section__header">
    <div class="container header">
        <nav class="header__navigation">
 <a class="logo" href="index.html">
            <svg
            width="24"
            height="24"
             class="logo__icon">
                     <use
              href="./images/sprite.svg#icon-film"
            ></use>
                 </svg>
            <p class="logo__text">Filmoteka</p>
        </a>
        <ul class="header__links">
            <li class="link__home"> <a class="link__item current" href="index.html">Home</a> </li>
            <li class="link__library"> <a class="link__item" href="">my library</a> </li>
        </ul>
        </nav>
        <form action="" class="header__search">

            <input class="search__input" type="text" placeholder="Поиск фильмов">
                            <svg class="search__icon"
            width="12"

            height="12">
                     <use
              href="./images/sprite.svg#icon-search"
            ></use>
                 </svg>
                <p class="search__result visually-hidden">Search result not successful. Enter the correct movie name and </p>
        </form>
       <div class="library visually-hidden">
            <ul class="library__list">
                <li class="library__item">
                <button class="library__btn checked">Watched</button>
                </li>
                <li class="library__item">
                <button class="library__btn">queue</button>
                </li>
            </ul>
        </div>
        <p class="search-error"></p>
    </div>

    <div class="toolbar">
        <!-- Разметка переключателя темы -->
        <div class="theme-switch">
            <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
                <use href="./images/sprite.svg#iconsun"></use>
            </svg>
    
            <div class="theme-switch__control">
                <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
                    aria-label="Переключить между тёмной и светлой темой" />
                <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
                </label>
                <div aria-hidden="true" class="theme-switch__marker"></div>
            </div>
    
            <svg class="theme-switch__icon" aria-label="Иконка луны">
                <use href="./images/sprite.svg#iconmoon"></use>
            </svg>
        </div>
    </div>
    
</header>