<!-- <div class="container"> -->
    <div class="popap">   
      <div class="popap__content">
        <div class="popap__image-block">
            <img class="popap__image" src="./images/placeholders/rectangle8.jpg" alt="poster"
            srcset="
            ./images/placeholders/rectangle8.jpg  1x,
            ./images/placeholders/rectangle8-2x.jpg 2x,
            ./images/placeholders/rectangle8-3x.jpg 3x"
            />           
        </div>
        <div>
            <h2 class="popap__title">A FISTFUL OF LEAD</h2>
            <div class="popap__film-block">
            <div class="popap__block-info">
                <p class="popap__film-info">Vote / Votes</p>
                <p class="popap__film-info">Popularity</p>
                <p class="popap__film-info">Original Title</p>
                <p class="popap__film-info">Genre</p>
            </div>
            <div>
                <p class="popap__film-vote"><span class="popap__film-res__number accent votes">7.3</span> / <span class="popap__film-res__number votes">1260</span></p>
                <p class="popap__film-res__number">100.2</p>
                <p class="popap__film-res">A FISTFUL OF LEAD</p>
                <p class="popap__film-res">Western </p>
            </div> 
            </div>
        
            <div class="popap__block-description">
                <h3 class="description__title">About </h3>
                <p class="description__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?   
                </p>
            </div>

            <div class="popap__buttons">
                <button type="button" class="button accent popap__button">add to Watched</button>
                <button type="button" class="button popap__button">add to queue</button>
            </div>
        </div>
        
        <button
        type="button"
        class="popap__button-close"
        data-action="close-popap"
        >
        <svg class="popap__svg-close">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        </button>
    </div>
  <!-- </div> -->
  