<div class="wrapper"></div>
    <div id="popup" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="cross">
                  <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">НАША КОМАНДА</div>
              <div class="popup_text">
                  <li>
                      <a href="#popup_1" class="popup-link info">☢ Aleksandr Melnik</a>
                  </li>
                  <li>
                      <a href="#popup_2" class="popup-link info">☢ Daria Khrushch</a>
                  </li>
                  <li>
                      <a href="#popup_3" class="popup-link info">☢ Alexander Krupka</a>
                  </li>
                  <li>
                      <a href="#popup_4" class="popup-link info">☢ Anastasiia Lialina</a>
                  </li>
                  <li>
                      <a href="#popup_5" class="popup-link info">☢ Dmitry Kishkanev</a>
                  </li>
                  <li>
                      <a href="#popup_6" class="popup-link info">☢ Eugene Grigoraschenko</a>
                  </li>
                  <li>
                      <a href="#popup_7" class="popup-link info">☢ Maksym Shyshko</a>
                  </li>
                  <li>
                      <a href="#popup_8" class="popup-link info">☢ Oleg Slyusarov</a>
                  </li>
                  <li>
                      <a href="#popup_9" class="popup-link info">☢ Roman Kochetov</a>
                  </li>
  
              </div>
          </div>
      </div>
    </div>
    <div id="popup_1" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Aleksandr Melnik</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                  
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_2" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Daria Khrushch</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                 
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_3" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Alexander Krupka</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                  
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_4" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Anastasiia Lialina</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                 
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_5" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Dmitry Kishkanev</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                 
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_6" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="cross">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Eugene Grigoraschenko</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                  
                  
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul>
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                  </ul>
                  <ul class="popup_social">
     
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      <li class="popup-instagram">
                          <a class="popup-instagram__link" href="https://github.com/JackGre">
                          <svg class="instagram">
                              <use href="./images/sprite.svg#icon-instagram">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      <li class="popup-facebook">
                          <a class="popup-facebook__link" href="https://github.com/JackGre">
                          <svg class="facebook">
                              <use href="./images/sprite.svg#icon-facebook">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      <li class="popup-telegram">
                          <a class="popup-telegram__link" href="https://github.com/JackGre">
                          <svg class="telegram">
                              <use href="./images/sprite.svg#icon-telegram">GitHub</use> 
                          </svg>
                          </a>
                      </li>                                                
                      
                  </ul>
                  <div>
                      <li class="popup-reply">
                          <a class="popup-link popup-icon_reply" href="#popup">
                          <svg class="reply">
                              <use href="./images/sprite.svg#icon-reply">GitHub</use> 
                          </svg>
                          </a>
                      </li> 
                  </div>
  
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_7" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Maksym Shyshko</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                  
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_8" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Oleg Slyusarov</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                  
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
    <div id="popup_9" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close close-popup">
                  <svg class="github">
                      <use href="./images/sprite.svg#icon-cross">GitHub</use> 
                  </svg>
              </a>
              <div class="popup_title">
                  <span>Roman Kochetov</span></div>
              <div class="popup_text">
                  <h2 class="popup-proff">Full Stack Developer</h2>
                  <p class="popup-skills">Tech Skills</p>
                 
                  <ul class="popup-skills_link">
                      <li>☣ HTML</li>
                      <li>☣ CSS</li>
                      <li>☣ JS</li>
                      <li>☣ Figma</li>
                      <li>☣ GitHab</li>
                  </ul>
                  <ul class="popup_social">
                      <li>
                          <a href="mailto:gl.meh.bmes.od@gmail.com" class="popup-link__mail">gl.meh.bmes.od@gmail.com</a>
                      </li>
                      <li>
                          <a href="tel:+380992175389" class="popup-link__tel">+38 099 217 53 89</a>
                      </li>
                      <li class="popup-github">
                          <a class="popup-github__link" href="https://github.com/JackGre">
                          <svg class="github">
                              <use href="./images/sprite.svg#icon-github">GitHub</use> 
                          </svg>
                          </a>
                      </li>
                      
                      
                  </ul>
                 
              </div>
          </div>
      </div>
    </div>
  
  </div>