.mdl-cell {
  margin: 0;
  overflow: hidden;

  transform: translateY(0);

  transition: transform 250ms ease-out;
}

.mdl-cell.cell-hidden {
  height: 0;
  padding: 0;

  transform: translateY(-200%);
}
.mdl-card {
  overflow: hidden;
  margin: 0;
}

.mdl-grid {
  max-width: 1024px;
  margin: auto;
}

.mdl-button {
  margin-bottom: 20px;
}

.mdl-textfield__input {
  margin-top: 10px;
  padding: 5px 10px;
}

.auth-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}

#auth-sign-in-status,
#sign-in-status,
#auth-tenant-id {
  font-weight: bold;
}

.mdl-cell pre {
  // overflow-x: scroll;
  line-height: 18px;
}

.mdl-cell code {
  white-space: pre-wrap;
  word-break: break-all;
}

.mdl-cell h3 {
  background-size: 40px;
  padding-left: 50px;
  color: white;
}

.mdl-card__title {
  background-color: $accent-color !important;
}

@keyframes blinkingText {
  0% {
    color: currentColor;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: currentColor;
  }
  100% {
    color: currentColor;
  }
}

.auth-form .output {
  &.alert {
    color: red;
  }

  &.note {
    color: green;
  }

  &.animate {
    // animation-name: blinkingText;
    // animation-duration: 250ms;
    // animation-iteration-count: 2;
  }
}

.auth-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;
  color: white;
  background-color: $accent-color;
  box-shadow: 0px 0px 2px 2px white;
  cursor: pointer;

  font-size: 50px;

  transform: translate(40%, -40%);
  transition: none;
}
