.section__header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
  url(/images/header-background.jpg);  
    height: 230px;
}
.header__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 37px;
}

.logo {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 10px;
    }
}

.logo__text {
display: none;

@media screen and (min-width: 768px){
display: inline;
font-size: 30px;
letter-spacing: 0em;
color: #FFFFFF;
}
}

.header-search {
    margin-right: auto;
    margin-left: auto;
}

.header__links{
    display: flex;
  list-style: none;
align-items: center;
text-align: center;
text-transform: uppercase;
}

.link__item {
    color: #FFFFFF;
;
}

.link__home {
    position: relative;
    margin-right: 39px;
}

.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #FF6B08;
  left: 0;
  bottom: -3px;
}

.header__search {
text-align: center;
align-items: center;
font-weight: normal;

}

.search__input {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 18px;
  width: 336px;

  border-bottom: 1px solid #9e9e9e;
}

.search__input::placeholder {
  color: #FFFFFF;
  font-weight: normal;
}

.search__link {
    margin-top: -17px;
    margin-right: -318px;
}

.search__icon {
    fill: #FFFFFF;
}

