.genreCon {
  // position: relative;
  overflow-y: hidden;
}

.genre-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-top: 10px;
  margin: auto;
  transition: 500ms;
  transform: translateY(-100%);
  border-top: 0;
  border-right: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  border-left: 1px solid $accent-color;
  
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
    // background: rgba(140, 140, 140, 0.3);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/images//tabletbg.jpg);

    @media (min-width: 321px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images//tabletbg.jpg);
    
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/tabletbg2x.jpg);
    }
    @media (min-width: 1024px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/desktopbg.jpg);
    
      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
          url(/images/desktopbg2x.jpg);
      }
    }
  }

  
    @media screen and (min-width: 768px) {
      width: 300px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 500px;
    }

    &.is-open{
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
}

.is-open, .value-btn:hover {
  background-color: $accent-color;
  color: $mainTextColor;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  cursor: pointer;
}

.menu-genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  & .button-genre {
          align-items: center;
          justify-content: center;
        }
}

  .genreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 90px;
    height: 20px;
    margin: 0 5px 5px 0;
    border: 1px solid $mainBgColor;
    border-radius: 5px;
  
    background: $overlayHeaderColor;
    color: $mainBgColor;
    
    transition: transform 300ms linear;
  
    @include transit($cubicBezierMain);
  
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $mainTextColor;
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
      cursor: pointer;
    }
  
    @media screen and (min-width: 768px) {
      width: 67px;
      margin: 0 3px 3px 0;
    }
  
    @media screen and (min-width: 1024px) {
      width: 90px;
      margin: 0 5px 5px 0;
    }
  }

  .is-open {
    transform: translateY(0%);
  }

  .films {
    padding-top: 0;
    transition: 500ms;
  }

  .films-active {
    transform: translateY(2%);
  }